<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/global.css">

    <!-- external css start-->
    <link rel="stylesheet" href="/stylesheet/Dashboard.css">
    <!-- external css end-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Dashboard</title>
</head>

<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">
                <div><img id="logo" src="/photos/logo.png" alt=""></div>
                <img id="user-icon" src="photos/profile.png" alt="User Icon" class="user-icon ">
            </span>
        </div>
    </nav>

    <div class="dashboard">
        <div class="header">
            <div id="left">
                <% if(typeof user != 'undefined'){ %>
                    <h2 style="font-family: 'Dancing Script', cursive; font-size:3rem;">Hi <%= user.name %></h2>
                <% }else {%>
                    <h2 style="font-family: 'Dancing Script', cursive; font-size:3rem;">Hi User</h2>
                <% } %>

                <span>Save time and money</span>
            </div>
            <div id="right">
                <button class="btn btn-success" id="createNewBtn" data-bs-toggle="modal"
                    data-bs-target="#createNewModal">+ Create New</button>
            </div>
        </div>
        <div class="data">
            <!-- <img class="photo" src="/photos/boy.png" alt=""> -->
            <div class="expenses  box1">
                <div><img class="icons" src="/photos/salary.png" alt="Salary"></div>
                <div>
                    <span>Current Balance</span>
                    <span>
                        <% 
            if(typeof balance != 'undefined'){ 
              %>
              <div class="message">
                <p><%= balance %></p>
              </div>
            <% } 
%>
                    </span>
                </div>
            </div>
            <div class="expenses box2">
                <div><img class="icons" src="/photos/money.png" alt="Salary"></div>
                <div>
                    <span>Total Debit</span>
                    <span>
                        <% 
                        if(typeof totalDebit != 'undefined'){ 
                          %>
                          <div class="message">
                            <p><%= totalDebit %></p>
                          </div>
                        <% } 
            %>
                    </span>
                </div>
            </div>
            <div class="expenses box3">
                <div><img class="icons" src="/photos/expense.png" alt="Salary"></div>
                <div>
                    <span>Total Credit</span>
                    <span>
                        <% 
                        if(typeof totalCredit != 'undefined'){ 
                          %>
                          <div class="message">
                            <p><%= totalCredit %></p>
                          </div>
                        <% } 
            %>
                    </span>
                </div>
            </div>
            <!-- <img class="photo" src="/photos/girl.png" alt=""> -->
        </div>
    </div>
    <div class="history">
        <div class="container mt-5 px-2">

            <div class="mb-2 d-flex justify-content-center align-items-center">

            </div>
            <div class="table-responsive">
                <table class="table table-responsive table">
                    <thead>
                      <tr class="bg-light">
                        <th scope="col" width="5%">S.No</th>
                        <th scope="col" width="20%">Date</th>
                        <th scope="col" width="10%">Description</th>
                        <th scope="col" width="10%">Transaction With</th>
                        <th scope="col" width="20%">Amount</th>
                        <th scope="col" width="10%">Credit / Debit</th>
                        <th scope="col" width="15%">Edit Data</th>
                        <th scope="col" width="15%">Delete Data</th> 
                      </tr>
                    </thead>
                    <tbody id="tableBody">
                        <% if (transactionInfo !== null) { %>
                          <% for (let i = 0; i < transactionInfo?.length; i++) { %>
                            <tr>
                              <form action="/updateTransaction" method="POST">
                                <th scope="row"><%= i + 1 %></th>
                                <td><input type="date" name="date" value="<%= transactionInfo[i].date %>"></td>
                                <td><input type="text" name="description" value="<%= transactionInfo[i].description %>"></td>
                                <td><input type="text" name="paidTo" value="<%= transactionInfo[i].paidTo %>"></td>
                                <td><input type="number" name="amount" value="<%= transactionInfo[i].amount %>"></td>
                                <td> 
                                    <select class="form-select" aria-label="Default select example" name="activity" required>
                                        <option selected><%= transactionInfo[i].activity %></option>
                                        <% if (transactionInfo[i].activity !== 'Credit') { %>
                                            <option value="Credit">Credit</option>
                                        <% } %>
                                        <% if (transactionInfo[i].activity !== 'Debit') { %>
                                            <option value="Debit">Debit</option>
                                        <% } %>
                                  </select></td>
                                <td>
                                  <button type="submit" class="btn btn-primary"> <input type="text" value="<%= transactionInfo[i].id %>" name="id" style="width:0%;visibility: hidden;">Edit</button>
                                </td>
                               
                              </form>
                              <td>
                                <form action="/deleteTransaction" method="POST">
                                  <button class="btn btn-danger"> <input type="text" value="<%= transactionInfo[i].id %>" name="id" style="width:0%;visibility: hidden;">Delete</button>
                                </form>
                              </td>
                            </tr>
                          <% } %>
                        <% } %>
                      </tbody>
                      
                      
                  </table>
                  

            </div>

        </div>
    </div>

    <div class="modal fade" id="createNewModal" tabindex="-1" aria-labelledby="createNewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createNewModalLabel">Create New Entry</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/transaction" method="POST" id="createNewForm">
                        <div class="mb-3">
                            <label class="form-label">Date:</label>
                            <input type="date" class="form-control" name="date" id="dateInput" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description:</label>
                            <input type="text" class="form-control" name="description" id="actionInput" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">amount</label>
                            <input type="number" class="form-control" name="amount" id="paidToInput" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Transaction with:</label>
                            <input type="text" class="form-control" name="paidTo" id="paidToInput" required>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" aria-label="Default select example" name="activity" required>
                                <option selected value="Credit">Credit</option>
                                <option value="Debit">Debit</option>
                              </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

</body>

</html>